@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #0b0c11;
}

p {
    color: #3f51b5;
    font-weight: 300px;
}

/* Items counter */
h4 {
    color: #04a9bc;
}

#counter {
    background-color: #04a9bc;
}

/* End of Items counter */


/* List items */
.list-group-item {
    color: #0b0c11;
    background-color: #f9e1b2;
    border: 1px solid #0b0c11;
}

.complete {
    background-image: url("../images/trash.png");
    background-position: right;
    background-repeat: no-repeat;
    background-color: #d9e3e3;
}

/* End of list items */